# ===== Unity generated folders =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# ===== OS / logs =====
*.log
sysinfo.txt

# ===== Visual Studio / Rider =====
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ===== Crash / debug =====
*.pdb.meta
*.mdb.meta
*.pidb.meta

# ===== Builds =====
*.apk
*.aab
*.unitypackage
*.app

# ===== Unity Asset Store tools (optional) =====
# Assets/AssetStoreTools*

# ===== JetBrains Rider =====
Assets/Plugins/Editor/JetBrains*

# ===== Addressables =====
Assets/AddressableAssetsData/*/*.bin*

# ===== StreamingAssets =====
Assets/StreamingAssets/aa/
Assets/StreamingAssets/aa.meta